<div class="backnight">

    <ul>
        <li>
            <a href="">
                <i class="material-icons" style="font-size:30px;color:red;">cloud</i>

            </a>
        </li>
        <li>
            <i class="material-icons" style="font-size:30px;color:red;">apps</i>
            <li>
                <i class="material-icons" style="font-size:30px;color:red;">cloud</i>
                <li>
                    <i class="material-icons" style="font-size:30px;color:red;">arrow_circle_up</i>
    </ul>
</div>