@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__all {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


input {
  margin-right: 1rem;
  padding: 1rem;
  margin-left: .5rem;
}

ul {
  display: flex;

  li {
    padding: .5rem
  }
}

.flex {
  display: flex;

  &.body {
    display: flex;
    flex: 1;
  }
}

.aside {
  background: linear-gradient(45deg, crimson, yellow);
  flex: 1;
}



.header,
.footer {
  height: 20%;
  background-color: violet;
  @include centered;
}



footer.footer {
  margin-top: auto;
}

ul {
  list-style-type: none;

  li {
    padding: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 1rem;
  }
}

app-users {
  display: flex;
  flex: 3;
}
