::ng-deep .backnight {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    background-color: #111;
    ul {
        display: flex;
        li:not(:first-child) {
            margin-left: 1rem
        }
    }
}

.wrapper__main {
    display: flex;
    app-main {
        width: -webkit-fill-available;
        height: auto;
        display: grid;
        background-color: rgb(36, 6, 33);
    }
}