.main {
    .task {
        color: white;
        font-size: bold;
    }
}

input {
    margin-right: 1rem;
    padding: 1rem;
    margin-left: .5rem;
}

.tareas {
    display: flex;
    align-items: center;
    justify-content: center;
}